{{#if showPostForm}}

  <h1>New Post</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="author">Post Author</label>
          {{input value=author id="author"}}
        </div>

        <div class="form-group">
          <label for="title">Title</label>
          {{input value=title id="title"}}
        </div>

        <div class="form-group">
          <label for="details">Details</label>
          {{input value=details id="details"}}
        </div>

        <div class="form-group">
          <label for="image">Image URL</label>
          {{input value=image id="image"}}
        </div>

        <button {{action 'submitPost'}}>Save</button>
      </form>
    </div>

{{else}}

    <button {{action 'addNewPost'}}>New Post</button>

{{/if}}
